body {
    background: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: black;
}

.ml-container {
    margin-top: 50px;
}

.glassmorphic-box {
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 500px;
    min-height: 400px;
    background: rgba( 247, 238, 238, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.btn-info {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.logo {
    width: 180px;
    height: 100px;
    margin-top: -40px;
}

.emojis {
    margin-top: 20px;
    font-size: 24px;
}

.emoji {
    margin: 0 5px;
}
